.main {
  padding: 1rem;
  min-height: 100vh;
}

.allitems {
  display: flex;
  flex-direction: column;
}

.collection {
  margin: 1rem 0;
  max-height: 300px;
}

.collectionheader {
  margin-bottom: 0.5rem;
}

.artifactcontainer {
  position: relative;
  width: 111px;
  height: 133px;
}

.code {
  font-weight: 700;
  font-family: var(--font-mono);
}

.grid {
  display: grid;
  grid-template-columns: repeat(5, auto);
  grid-gap: 0.5rem;
  max-width: 300px;
}

.mpitem {
  max-width: 50px;
  opacity: 0.35;
}

img.collected {
  opacity: 1;
}

.filler {
  width: 50px;
}

.countercontainer {
  display: flex;
  align-items: center;
  max-width: 300px;
}

.counterlabel {
  display: flex;
  flex-direction: column;
  margin-left: 1rem;
}

.subtractbutton {
  margin-left: 1rem;
}

@keyframes rotate {
  from {
    transform: rotate(360deg);
  }
  to {
    transform: rotate(0deg);
  }
}
